.conteudo{
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.384);
    padding: 10px;
}

.conteudo__pergunta2{
    text-align: center;
    align-items: center;
}